@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/* removes any browser margin or padding and sets the font */
*{
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
}

/* nav bar */
nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* left-hand logo */
nav > a {
    display: block;
    float: left;
    margin: 25px 0 0 40px;
    font-size: 25px;
}

/* right-hand nav links */
nav ul {
    margin-right: 30px;
}

nav li {
    display: block;
    float: right;
    font-size: 20px;
    margin: 35px 0 0 20px;
}

/* index page section */
#index-page-section {
    text-align: center;
    margin: 150px 20% 100px 20%;
}

#index-page-section img {
    display: block;
    margin: 0 auto 40px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#index-page-section h2 {
    font-size: 25px;
}

#index-page-section p {
    display: block;
    margin: 30px auto 0 auto;
    width: 600px;
    font-size: 20px;
}

/* gallery page section */
#gallery-page-section {
    margin-top: 75px;
}

#gallery-page-section div {
    display: inline-block;
    width: 24.7%;
    text-align: center;
}

/* about page section */
#about-page-section {
    margin: 70px 0 70px 0;
    text-align: center;
}

#about-page-section h2 {
    font-size: 25px;
    margin-top: 25px;
}

#about-page-section p {
    display: block;
    margin: 10px auto 0 auto;
    width: 800px;
    font-size: 20px;
}

#about-page-section img {
    position: fixed;
    bottom: 80px;
}

#joseph-feeding-cows-image {
    width: 375px;
    height: 375px;
    left: 10px;
    margin-bottom: 7px;
}

#eweknit-family-photo {
    width: 675px;
    height: 400px;
    left: 415px;
}

#karol-before-mountain-image {
    width: 400px;
    height: 400px;
    right: 10px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: black;
}

footer ul {
    margin-top: 17.5px;
    text-align: center;
    font-size: 35px;
}
footer li {
    display: inline;
}

footer i {
    width: 20%;
}