/* imported google font "Heebo" */
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

/* sets the font and removes any page margins for all pages unless stated otherwise */
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

/* adds a bottom margin to push the sections above the footer */
.margin-bottom {
    margin-bottom: 70px;
}

/* sets the constant anchor theme */
.anchor-theme {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* sets the header size and theme */
.header-style {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}

/* sets the position and size of the logo */
.header-left-hand-logo {
    position: relative;
    top: 35px;
    left: 40px;
    font-size: 25px;
}

/* sets the location of the nav links */
.header-right-hand-nav-links-list {
    float: right;
    list-style-type: none;
    margin: 10px 20px 0 0;
}

.header-right-hand-nav-links {
    display: block;
    float: right;
    margin-left: 10px;
}

/* index page section */
#index-page-section-img {
    display: block;
    margin: 40px auto 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#index-page-section-h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

#index-page-section-p {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 0 30% 0 30%;
    margin: 20px auto 0 auto;
}

/* gallery page section */
#gallery-page-section {
    margin-top: 5px;
}

.gallery-images {
    display: inline-block;
    width: 24.7%;
    text-align: center;
}

/* about page section */
#about-page-section {
    text-align: center;
}

#about-page-section-h2 {
    font-size: 35px;
    margin-top: 25px;
}

#about-page-section-p {
    display: block;
    margin: 20px 20% 120px 20%;
    font-size: 20px;
}

.about-images {
    height: 400px;
}

/* contact page section */
#contact-page-section {
    height: 1050px;
}

#contact-left-div {
    font-size: 33px;
    width: 50%;
    float: left;
}

#contact-right-div {
    width: 50%;
    float: right;
}

#contact-left-div-p {
    padding: 20% 50px 0 10%;
}

#contact-fieldset {
    width: 700px;
    height: 750px;
    margin-top: 50px
}

#contact-fieldset-legend {
    font-size: 40px;
}

.contact-fieldset-content {
    width: 65%;
    font-size: 30px;
}

.contact-subfieldset-content {
    font-size: 30px;
}

.contact-borders {
    border-radius: 1.5%;
    border: 3px solid;
}

#form-submit {
    margin-top: 40px;
    font-size: 30px;
    border-radius: 10%;
    color: white;
    background-color: black;
    border: 4px solid black;


}

#form-submit:active {
    color: black;
    background-color: white;
}

/* submit redirect page */
#submit-redirect-page {
    text-align: center;
    margin-top: 12%;
    font-size: 30px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: black;
}

footer ul {
    margin-top: 17.5px;
    text-align: center;
    font-size: 35px;
}

footer li {
    display: inline;
}

footer i {
    width: 20%;
}

@media screen and (max-width: 1675px) {

    #submit-redirect-page {
        padding: 0 10% 0 10%;
    }
}

@media screen and (max-width: 1550px) {
    #joseph-feeding-cows-image {
        position: fixed;
        visibility: hidden;
    }

    #contact-left-div {
        width: 100%;
        text-align: center;
    }

    #contact-left-div p {
        padding: 0;
    }

    #contact-right-div {
        width: 100%;
    }

    #contact-fieldset {
        margin: 20px auto;
    }
}

@media screen and (max-width: 1250px) {

    .gallery-images {
        width: 49%;
    }

    #eweknit-family-photo {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    #contact-page-section {
        height: 1050px;
    }

    #contact-left-div {
        width: 89%;
        margin: 0 5% 10px 5%;
    }

    #contact-right-div {
        width: 89%;
        margin: 0 5% 10px 5%;
    }

    #contact-fieldset {
        width: 88%;
        border-radius: 1%;
    }
}

@media screen and (max-width: 600px) {
    .header-left-hand-logo {
        top: 10px;
        left: 10px;
    }

    #index-page-section-img {
        width: 50%;
        height: auto;
    }

    .header-right-hand-nav-links-list {
        float: left;
        padding: 0;
    }

    #index-page-section-p {
        padding: 0 5% 0 5%;
    }

    .header-right-hand-nav-links {
        font-size: 13px;
    }

    .gallery-images {
        width: 100%;
    }

    #joseph-feeding-cows-image {
        position: static;
        visibility: visible;
        width: 100%;
        height: auto;
    }

    #karol-before-mountain-image {
        width: 100%;
        height: auto;
    }

    #about-page-section-p {
        margin: auto 5% 20px 5%;
    }

    .contact-fieldset-content {
        width: 82%;
    }
}